.card-div{
    height: 400px;
    width: 300px;
    border: solid 2px #141E26;
    margin: 30px auto;
    margin-right: 60px;
    box-shadow: 4px 4px 8px #141E26;
    background-color: #25436edd;
    color: #dce0e6 ;
    border-radius: 5%;
    position: relative;
}

.card-div h1{
    font-size: 1.5rem;
    padding: 20px;
}

.card-div h1, h2, p{
    text-align: center;
    padding-bottom: 10px;
}

.card-div img{
    width: 80%;
    height: 150px;
    display: flex;
    margin: 30px auto;
}

#cadastrado {
    position: absolute;
    bottom: 2px;
    right: 15%;
}


@media (max-width: 750px) {
    .card-div{
        height: 400px;
        width: 250px;
        margin-right: 0;
    }

    #cadastrado{
        right: 8%;
    }
}